<h3> Search Term: </h3>
<form method="post" action="/search_contacts">
  <input type="text" name="search_term">
  <button type="submit">Submit</button>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
</form>

<% @contacts.each_with_index do |contact, index| %>
<h2> <a href="/contact_details/<%=contact.name%>">
   <%= contact.name %></a>
</h2>
<%end%>
